# У цьому блоці перелічені службові файли які не варто додавати до репозиторію

node_modules
# У цьому блоці перелічені службові файли які не варто додавати до репозиторію
dist
# У цьому блоці перелічені службові файли які не варто додавати до репозиторію
.env
