bin/
obj/
node_modules/
dist/
publish/
.env
.env.*
appsettings.Development.json
appsettings.Production.json
*.user
*.suo
.vs/

*.user
*.pubxml.user
backend/CLARITY.music.Api/appsettings.Development.json
backend/CLARITY.music.Api/Properties/PublishProfiles/


*.user
*.pubxml
*.pubxml.user
**/appsettings.Development.json
**/Properties/PublishProfiles/
**/wwwroot/assets/
**/wwwroot/audio/
**/wwwroot/uploads/

