# У цьому блоці перелічені службові файли які не варто додавати до репозиторію

bin/
# У цьому блоці перелічені службові файли які не варто додавати до репозиторію
obj/
# У цьому блоці перелічені службові файли які не варто додавати до репозиторію
.vs/
# У цьому блоці перелічені службові файли які не варто додавати до репозиторію
* .user
# У цьому блоці перелічені службові файли які не варто додавати до репозиторію
* .suo
# У цьому блоці перелічені службові файли які не варто додавати до репозиторію
wwwroot/audio/*
# У цьому блоці перелічені службові файли які не варто додавати до репозиторію
!wwwroot/audio/.gitkeep
# У цьому блоці перелічені службові файли які не варто додавати до репозиторію
wwwroot/uploads/avatars/*
# У цьому блоці перелічені службові файли які не варто додавати до репозиторію
!wwwroot/uploads/avatars/.gitkeep
# У цьому блоці перелічені службові файли які не варто додавати до репозиторію
wwwroot/uploads/covers/*
# У цьому блоці перелічені службові файли які не варто додавати до репозиторію
!wwwroot/uploads/covers/.gitkeep
# У цьому блоці перелічені службові файли які не варто додавати до репозиторію
wwwroot/uploads/playlist-covers/*
# У цьому блоці перелічені службові файли які не варто додавати до репозиторію
!wwwroot/uploads/playlist-covers/.gitkeep
