

/* Це правило задає основний вигляд відступи і поведінку відповідного блока */

input[type="checkbox"] {
  accent-color: var(--accent);
}

/* Це правило задає основний вигляд відступи і поведінку відповідного блока */
.ui-dd{
  border-radius: 16px;
}

/* Це правило задає основний вигляд відступи і поведінку відповідного блока */
.icon-btn {
  flex: 0 0 auto;
}
